.block.square.has-image{title: "<a class='btn-outline' href='#{post_path(post)}'>#{post.title}</a>", href: "#{attachment_url post, :image}", style: "background: url('#{attachment_url post, :image, :fill, 500, 500}') no-repeat; background-size: cover"}
  .overlay
    .center-right.toggle
      %h1= post.title
