.post
  .body
    = p.input :body, label: false
    = p.input :user_id, as: :hidden, value: @user.id
  .toolbar
    = p.input :title, placeholder: "Title", label: false
    %hr.thick
    -if @post.image_id?
      #image.post_image{style: "background: url(#{attachment_url(@post, :image, :fit, 408, 250) }) no-repeat center; background-size: cover"}
    -else
      #image.post_image{style: "background: url('http://placehold.it/408x250&text=No%20Image') no-repeat center; background-size: cover"}
    = p.input :remove_image, as: :boolean if @post.image_id?
    = p.attachment_field :image, direct: true, presigned: true,  class: "image_upload"
    %hr
    = p.input :details, label: false, placeholder: "Details about the painting"
    = p.input :published_at, as: :datetime

    .modal
      %label{:for => "modal-1"}
        .btn{style: "margin-left: 0; width: 100%; text-align: center"} Categories
      %input#modal-1.modal-state{:type => "checkbox"}/
      .modal-window
        .modal-inner
          %label.modal-close{:for => "modal-1"}
          %h1.modal-inner-header Categories
          %ul.categories
            - @categories.each do |cat|
              %li
                -if @post.categories.include?(cat)
                  = check_box_tag 'category_ids[]', cat.id, input_html: { checked: true }
                -else
                  = check_box_tag 'category_ids[]', cat.id
                = cat.nice_name
    %hr
    .submit-actions
      = p.input :available
      = p.submit "Save as Draft", class: "btn"
      = p.submit "Publish", class: "btn btn-primary"
