= render partial: "partials/nav_left", locals: { logo_color: "#5d5d5d" }
= render partial: "partials/nav_right", locals: { menu_color: "#5d5d5d" }
.clear-nav
.project-header
  .project-image
    %a.has-image{href: (attachment_url @post, :image)}
      =attachment_image_tag @post, :image
  .project-details.card
    %h1= @post.title
    %p= simple_format @post.details
    %ul
      -@post.categories.each do |category|
        %li
          =link_to category.name.upcase, category
    %hr
    -if @post.available?
      %span.available
        .fa.fa-check
        AVAILABLE
      =render partial: "partials/contact_button", locals: { subject: @post.title }
    -else
      %span.sold
        SOLD
        =render partial: "partials/contact_button", locals: { subject: @post.title }
.project-hero{style: "background: url('#{attachment_url @post, :image, :fill, 1200, 1200}') no-repeat center fixed; background-size: cover;"}
  -if @post.body
    .project-text.card
      =@post.body.html_safe
.other-projects
  -if @prev
    =link_to @prev, style: "background: url('#{attachment_url @prev, :image, :fill, 200, 200}') no-repeat center; background-size: cover;", class: "prev-project" do
      .overlay
      .center
        %h1 PREV
  -if @next
    =link_to @next, style: "background: url('#{attachment_url @next, :image, :fill, 200, 200}') no-repeat center; background-size: cover;", class: "next-project" do
      .overlay
      .center
        %h1 NEXT
