= simple_form_for [:admin, @user] do |f|
  - if @user.image_id?
    = image_tag attachment_url(@user, :image, :fill, 200, 200)
    %label Remove Image
    = f.check_box :remove_image
  = f.attachment_field :image, direct: true
  #image
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :bio
  = f.submit
